.nav {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  border-bottom: 1px solid grey;
  .logo-and-links {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 120px;
    height: 100%;
    padding-left: 10px;
    margin-bottom: 6px;
    margin-top: 4px;
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: -8px;
    li {
      padding: 0 45px;
      color: var(--purple);
      visibility: visible;
      cursor: pointer;
      text-align: center;
      &:hover {
        color: var(--blue);
        font-weight: 500;
      }
    }
    a {
      color: var(--purple);
      text-decoration: none;
      &:hover {
        color: var(--blue);
        font-weight: 500;
      }
    }
  }
  button:active {
    background-color: aliceblue;
  }
  #resources,
  #sign-up-button,
  #log-in-button {
    background-color: transparent;
    color: var(--purple);
    border: none;
    margin: 0 0 2px 0;
    padding: 0;
    &:hover {
      color: var(--blue);
      font-weight: 500;
    }
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}